.price-form{
    display:flex ;
    flex-direction: column;
    gap: 1rem;

 
    &__title{
        margin-bottom: 0.2rem;
    }
    &__subtitle{
        color: grey;
        font-weight: 400;
        font-size: 0.90rem;
    }
    &__main{
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
    }
}


