.navbar {
  height: 65px;
  width: 100%;
  background-color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;



  &__links {
    list-style: none;
    display: flex;
    align-items: center;
    gap: 1rem;
    padding: 1rem;

    a {
      text-decoration: none;
      font-weight: 600;
      color: silver;
      padding: 0.5rem 1rem;
      border-radius: 0.25rem;
      transition: all .3s ease;
    }

    a.active {
      background: var(--gradient-brand-primary);
      color: white;
    }
  }
}